<template>
    <div class="input-group mt-5 mb-5">
        <input type="text" placeholder="Add Item..." class="form-control rounded-0" id="add-item-text" v-model="inputText">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary rounded-0" type="button" id="btn-add-item" v-on:click="onAddItemClick">Add</button>
        </div>
    </div>
</template>

<script>
import EventBus from '../EventBus.js';

export default{
    data:function(){
        return{
            inputText:""
        }
    },
    methods:{
        onAddItemClick:function(){
            if(this.inputText != null && this.inputText != ""){
                this.$emit("additem",this.inputText);
                EventBus.publish("additem",this.inputText);
                this.inputText = "";

            }
        }
    }

}

</script>