
<template>
    <div>
        <AddItemBar v-on:additem="addItem"/>
        <TodoList v-on:updateitem="updateItem" v-on:deleteitem="deleteItem" v-bind:items="items" v-bind:deleted="false"/>
        <router-link to="/deleted" class="btn btn-secondary mt-3">Show Deleted Items</router-link>
    </div>
</template>

<script>
import AddItemBar from './add-item-bar.vue';
import TodoList from './todolist.vue';

export default {
    props:["items"],
    components:{
        AddItemBar,
        TodoList
    },
    methods:{
        addItem:function(inputText){
            this.$emit("additem",inputText);
        },
        updateItem: function(item){
            this.$emit("updateitem",item);
        },
        deleteItem: function(item){
            this.$emit("deleteitem",item);
        }
        
    }    
}
</script>