<template>
    <div class="mt-5">
        <TodoList v-bind:items="deleteditems" v-bind:deleted="true"/>
        <router-link to="/" class="btn btn-secondary mt-3">Show Current Items</router-link>
    </div>
</template>

<script>
import TodoList from './todolist.vue';

export default {
    props:["deleteditems"],
    components:{
        TodoList
    }
}
</script>