<template>
    <div class="p-md-5">
        <template v-for="todo in items" >
            <TodoItem v-bind:todo="todo" v-on:updateitem="updateItem" v-on:deleteitem="deleteItem" v-bind:deleted="deleted" v-bind:key="todo.id"/>
        </template>
    </div>

</template>

<script>
import TodoItem from './todo-item.vue'


export default{
    components:{
        TodoItem
    },
    props:["items","deleted"],
    methods:{
        updateItem: function(item){
            this.$emit("updateitem",item);
        },
        deleteItem: function(item){
            this.$emit("deleteitem",item);
        }
    }
}

</script>