<template>
    <div class="todo-item pt-3 pb-3 px-3">
        <div class="custom-control custom-checkbox d-flex">
            <input type="checkbox" class="custom-control-input" v-bind:id="todo.id" v-model="todo.checked" v-on:change="onCheckboxChanged">
            <label class="custom-control-label" v-bind:class="{ checked : todo.checked }" v-bind:for="todo.id">{{todo.text}}</label>
            <span class="material-icons ml-auto" id="btn-delete-item" v-if="!deleted" v-on:click="onDeleteBtnClick">delete</span>
        </div>
    </div>

</template>

<script>
import EventBus from '../EventBus.js'


export default{
    props:["todo","deleted"],
    methods:{
        onCheckboxChanged:function(){
            this.$emit("updateitem",this.todo);
            EventBus.publish("updateitem",this.todo);
        },
        onDeleteBtnClick: function(){
            this.$emit("deleteitem",this.todo);
            EventBus.publish("deleteitem",this.todo);
        }
    }

}

</script>