<template>
  
  <div class="container text-center mt-2">
    <heading v-bind:msg="heading"/>
    <router-view v-bind:items="items" v-bind:deleteditems="deletedItems" v-on:additem="addItem" v-on:updateitem="updateItem" v-on:deleteitem="deleteItem"/>
  </div>

</template>

<script>
import heading from './components/heading.vue'
import EventBus from './EventBus.js'

export default {
  name: 'App',
  components: {
    heading
  },

  data:function(){
    return {
      showingDeletedItems: false
    }

  },

  computed:{
    heading:function(){
      return this.$route.path == "/" ? "Todo List" : "Deleted Items";
    },
    items:function(){
      return this.$store.state.items;
    },
    deletedItems:function(){
      return this.$store.state.deletedItems;
    }
  },

  methods:{
    addItem: function(inputText){
      this.$store.commit("additem",inputText);
      this.$store.commit("updatestorage");
    },
    updateItem: function(item){
      this.$store.commit("updateitem",item);
      this.$store.commit("updatestorage");
    },
    deleteItem: function(item){
      this.$store.commit("deleteitem",item);
      this.$store.commit("updatestorage");
    }

  },

  created:function(){
    this.$store.commit("loadfromstorage");

    EventBus.subscribe("additem",(inputText) => console.log("Add Item: ", inputText));
    EventBus.subscribe("updateitem",(item) => console.log("Update Item: ", item));
    EventBus.subscribe("deleteitem",(item) => console.log("Delete Item: ", item));
  }

}

</script>

<style src="./styles.scss" lang="scss"></style>